# Скопируй в .env и заполни своими значениями
APP_ENV=local
HTTP_PORT=8080

# PostgreSQL (пригодится на Шаге 1)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=project_manager
DB_SSLMODE=disable

# Сессии
SESSION_SECRET=change-me-to-a-long-random-string-min-32-chars    
 # для генерации используй powershell команда -join ((1..48) | ForEach-Object { [char](Get-Random -Min 33 -Max 126) })

# Bootstrap первого администратора (создаётся один раз, если users пуста)
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=admin123
BOOTSTRAP_ADMIN_FULLNAME=Администратор